body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 0.2rem;
    text-align: center;
}

header h1 {
    margin: 0.2rem 0;
    font-size: 1.5rem;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

#game {
    max-width: 800px;
    margin: 0 auto;
}

#health, #deck {
    font-size: 1.5rem;
    text-align: left;
}

#game h3 {
    margin: 0.5rem 0;
    text-align: center;
}

#hand {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

#weapons {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: #f0f0f0;
}

#discard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
    border: 1px solid #000;
    padding: 0.5rem;
    background-color: #ccc;
}

.card {
    border: 1px solid #000;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: white;
    cursor: pointer;
    font-size: 1.75em;
    width: 2.0em;
    height: 2.7em;
    display: flex;
    justify-content: center;
}

.suit.red {
    color: red;
}

.suit.black {
    color: black;
}

.suit {
    font-size: 1.25em;
}

.room {
    border: 2px solid #000;
    padding: 1rem;
    margin: 1rem;
    min-height: 100px;
    background-color: #ddd;
    display: flex;
    flex-wrap: wrap;
}

button {
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    width: 15rem;
}

button.selected {
    background-color: #4CAF50;
    color: white;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    main {
        padding: 0.5rem;
    }
    #hand {
        flex-wrap: wrap;
    }
}